$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
$font-bid : 1.875rem;
$back-color:#333A42;
$font-family:'Cairo', sans-serif;
$subtitle-color: #595f6f;
$header_backColor : #000000;
$btn_background:#004B6A;

$white:#f4f4f4;
.txt{
  font-size: $font-sm;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1 ;
  letter-spacing: normal;
  color: #ffffff;
  font-family: $font-family;
}
